
html{
  height: 100vh;
  font-family: routed-gothic;
}

h2{
  margin: 10px;
  text-align: center;
}

p{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .navbutton{
    flex-direction: row;
    margin-right: 0px;
  }

  .doc{
    padding-bottom: 50vh;
  }

  .boxes{
		flex-direction: column;
	}
}

@font-face {
  font-family: routed-gothic;
  src: url("../assets/fonts/routed-gothic-ttf-v1.0.0/routed-gothic.ttf");
}
@font-face {
  font-family: routed-gothic;
  src: url("../assets/fonts/routed-gothic-ttf-v1.0.0/routed-gothic-wide.ttf");
  font-weight: bold;
}