---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import BlogPost from "../layouts/BlogPost.astro";

const allPostsSorted = (await getCollection("blog")).sort(
    (a, b) => b.data.date.getTime() - a.data.date.getTime()
);
---

<Layout>
    
    <!-- Listan av alla blog entries börjar här -->
    <ul>
        {
            allPostsSorted.map((post) => (
                    <li>
                        <a href={`/the-website/blog/${post.id}`}>{post.data.title}</a>
                    </li>
            ))
        }
    </ul>
    <!-- Listan slutar här -->
</Layout>