
<div>
    <h3>:about me:</h3>
    <hr>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis dolore provident consectetur expedita quibusdam cumque, quaerat fugiat officia quis aspernatur rem eos unde illo, quae qui nesciunt optio nostrum nulla.
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    </p>
</div>

<style>
    div{
        position: relative;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-inline: 10px;
        width: 50%;
        height: 100%;
        border: 1px;
        border-style: inset;
    }
    p{
        margin-inline: 5px;
        word-break: break-word;
        text-wrap: wrap;
        line-break: auto;
        hyphens: auto;
    }
    @media only screen and (max-width: 700px) {
        div{
            width: auto;
            margin-right: 10px;
            margin-bottom: 0px;
        }
    }
</style>