
<div>
    <h3>:recent posts:</h3>
    <hr>
</div>

<style>
    div{
        position: relative;
        align-content: right;
        right:0;
        text-align: center;
        margin: 10px;
        width: 30%;
        height: 300px;
        border: 1px;
        border-style: inset;
    }
    p{
        text-wrap: wrap;
        word-wrap: break-word;
        background-color: aliceblue;
    }
</style>