
<div>
  <p>:may peace find you in every way:</p>
</div>

<style>
  div{
    height: 100px;
    background-color: rgb(25, 57, 25);
    position: relative;
  }
  p{
    background-color: darkgrey;
    color: rgb(50, 50, 115);
    margin: 6px;
    padding-inline: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: right;
    position: absolute;
    bottom:0;
    right:0;
  }
</style>
