---
import Nav from './nav.astro'
import Social from './social.astro'
---

<div >
    <h3>:website:</h3>
    <ul><Nav/></ul>
    <h3>:links:</h3>
    <ul><Social/></ul>
</div>

<style>
    h3{
        text-align: center;
    }

    div{
    background-color: #242424;
    width: 220px;
    text-align: center;
    padding-bottom: 50%;
    }

    ul{
    border-width: 6px;
    border-style: ridge;
    border-color: #242424;
    background-color: gray;
    width: 90%;
    margin:auto;
    }

    ul :global(a){
    border: 1px dotted black;
    background-color: gray;
    margin: 2%;
    padding: 8px;
    display:block;
    transition: 0.5s;
    color: inherit;
    text-decoration: inherit; 
    }
    ul:hover :global(a){
        background-color: lightgray;
        border: 1px solid black;
    }
</style>

